


.blog_content {
  position: relative;
  top: 15%;
  font-size: 1.5em;
  float: right;
  width: 50%;
  height: 60%;
  overflow: auto;
}

.nav_bar {
  position: relative;
  top: 15%;
  float: left;
  width: 20%;
  height: 60%;

}

.footer {
}