.header {
  border: 1px solid black;
  background-color: grey;
  width: 100%;
  height: 2em;
  font-size: 30px;
  padding-top: 30px;
}

.blog_content {

  float: right;
  width: 75%;
}

.nav_bar {

  float: left;
  width: 20%;

}

.footer {
  text-align: center;
  font-style: Arial Sans-serif;
  width: 100%;
  height: 5em;
  border: 1px solid black;
  margin-top: 90%;
}