html, body {

  height: 100%;
  font-size: 1.5em;
}

div {
  border: 1px solid black;
  display: block;
}

.header {
  height: 2em;
  width: 100%;
  font-size: 2em;
  text-align: left;
  vertical-align: middle;


}

.footer {
  position: fixed;
  height: 2em;
  width: 100%;
  bottom: 0%;
}

.main{
  height: 80%;
  width: 60%;
  float: left;
  overflow: auto;

}

.links {
  position: relative;
  width: 33%;
  height: 80%;
  float: right;
  overflow: auto;
}

.button {
  position: relative;
  height: 3em;
  width: 95%;
  text-align: center;

}
