html, body {

  height: 100%;
  font-size: 1.5em;
  font-family: sans-serif;
}

p {
  font-size: 1.5em;
}

div {
  border: 1px solid black;
  display: block;
}

.header {
  position: fixed;
  height: 3em;
  width: 100%;
  font-size: 2em;
  text-align: left;
  top: 2px;
  right: 1px;
}

h1 {
  margin: 50px 5px 5px 20px;
}

h2 {
  font-size: .75em;
  margin: 30px 5px 5px 5px;
}

.footer {
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0%;
  right: 1px;
}

.main{
  position: relative;
  top: 15%;
  height: 60%;
  width: 40%;
  float: left;
  overflow: auto;

}

.links {
  position: relative;
  top: 15%;
  width: 40%;
  height: 60%;
  float: right;
  overflow: auto;

}

.button {
  float: right;
  border-radius: .5em;
  margin: 12px 12px 12px 12px;
  position: relative;
  height: 50%;
  width: 10%;
  text-align: center;
  padding: 10px 10px 10px 10px;
  bottom: 130%;
  right: 10%;
}
