html, body {
  height: 100%;
}

div {
  padding: 2px 2px 2px 2px;
  text-align:center;
  border: 1px solid black;
  margin: 2px 2px 2px 2px;
}

.header {
  height: 5em;
  width: 100%;
  top: 0%;
}

.footer {
  height: 2em;
  width: 100%;
}

.main{
  height: 50%;
  width: 63%;
  float: left;

}

.section {
  width: 33%;
  height: 50%;
  bottom: 0px;
  float: right;
}

.button {

  height: 3em;

}